@import "tailwindcss";

@font-face {
    font-family: gilroy-light;
    src: url(../fonts/Gilroy-Light.woff2);
}

@font-face {
    font-family: gilroy-bold;
    src: url(../fonts/Gilroy-ExtraBold.woff2);
}

@theme {
    --color-noteoo-100: #FBFBFB;
    --color-noteoo-200: #E8F9FF;
    --color-noteoo-300: #C4D9FF;
    --color-noteoo-400: #C5BAFF;
}